*{
    width: 100%;
    justify-content: space-between;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
div {
    background: color #a48374;;
    font-size: medium;
    display: flex;
}
